/* THE GENERAL RULE */
/* 
selector {
  property: value;
  anotherProperty: value;
 } */

 /* Examples */

 /* This example will change all h1's */
 h1 {
   color: purple;
   font-size: 56px;
 }

/* Give all img's a 3px red border */
img {
  border-color: red;
  border-width: 3px;
}