h2  {
  color: #5fcffc;
  background-color: rgb(89,120,66);
}

h3 {
  color: purple;
}

button {
  color: magenta;
  background-color: cyan;
}

p {
  color: olive;
  background: orange; /* background has a lot more aspects and options to it */
}