/* INTRO TO BACKGROUNDS */

/* 
Use 'color' to set text color and 'background' for background color
*/
body {
  background: #95a5a6;
}

div {
  background: #3498db;
}

p {
  color: #ecf0f1;
}

h1 {
  color: #ecf0f1;
  text-align: center;
}