div {
  background: #595f63;
}

p {
  color: #ecf0f1;
}

h1 {
  color: #595f63;
  text-align: center;
}

body {
  /* makes image a background */
  background: url(https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  /* this prevents background image from tile-ing */
  background-repeat: no-repeat;
  /* this makes the background image fill whole screen */
  background-size: cover;
}