/* selector */

/* 

selector {
  property: value;
}

*/

body { /* this is an element selector */
  background: rgb(233, 223, 211);
  font-family: 'Ranchers', cursive;
}

h1 {
  text-align: center;
}

li { /* element select all li borders black */
  border: 2px solid black;
}

#special { /* this is an example of an 'ID selector' */
  font-style: italic;
}

.completed { /*this is an example of 'class selector' */
  text-decoration: line-through;
}