/* ID SELECTORS */

/* 

Selects an element with a given ID. ONLY ONE per page!

However, you can have more than one ID on a page, as long as the ID does not occur more than once...

*/

div {
  background: purple;
  text-align: center;
}

#special {
  color: yellow;
  text-align: right;
}