body {
  margin: 5%;
}

img {
  width: 46%;
  float: left;
  margin: 1.66%;
}

/* this means that each photo takes up 30% + 1.66% on the left and right, equalling around 33.3% per image and that times three photos is the whole page. allowing three photos and close to 100% of the page. */

h1 {
  text-align: left;
  font-size: 3em;
  border-bottom: 2px solid #f1f1f1;
  margin: 10px;
  padding-top: 10px;
  width: 15.0em;
  padding-bottom: 10px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}