/* 

  FLEX BASICS 

  What is FLEXBOX?

    Flexbox is a one-dimensional layout method for laying out items in rows or columns. It contains 8-10 properties or so.

  It's New(ish)

    Flexbox is a recent addition to CSS, included to address common layout frustrations.

  Why 'FLEX'?

    Flexbox allows us to distribute space dynamically across elements of an unknown size hence the term "flex"

  There are two axis in 'flexbox', main axis and cross axis (main is left to right, cross is top to bottom)
    *** The default is flex-direction: row; NOT column or something vertical 
*/

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
}

#container {
  background-color: #003049;
  width: 90%;
  height: 700px; /* the columns in #container div would grow if more px added */
  margin: 0 auto;
  border: 5px solid #003049;
  display: flex;
  flex-direction: row; /* row-reverse flips from left>right to right>left
  /* flex-direction: column; top to bottom, and 'column-reverse' goes from bottom to top */
  /* justify-content: flex-start; content will start oriented from whatever the flex-direction is */
  justify-content: center; /* content will start in the center, but oriented from whatever the flex-direction is */
}

#container div {
  width: 200px;
  height: 200px;
}