/* 
Basic Selectors Practice
  - give all li elements the text color blue
  - give all elements with the class of done the text color grey
  - give the element with the id clear a red background and white text

*/

li {
  color: blue;
}

.done {
  color: grey;
}

#clear {
  background-color: red;
  color: white;
}