* {/*UNIVERSAL SELECTOR*/
  background-color: #f1faee;
}

/* ELEMENT SELECTOR */
/* this affects everything inside a given element */
body {
  font-family: 'Times New Roman', Times, serif;
}

span {
  color: #457b9d;
}

button {
  font-size: 15px;
  background-color: #a8dadc;
}

/* CLASS SELECTOR */
/* can be chosen for elements on a page, doesnt have to be the same type of element */
.nav {
  float: left;
}

.tag {
  background-color: #e63946;
  color: #f1faee;
  font-size: 16px;
}

section.post { /* selects only 'post' classes in <section> elements */
  float: none;
}

/* ID SELECTOR */
/* only can be used once for one element or thing   */
#signup {
  background-color: #1d3557;
  color: #e63946;
}

#license:hover {
  color: #e63946;
}

/* SELECTOR LIST */
/* Select all h1's and h2's */
h1, h2 {
  color: #1d3557;
}

/* DESCENDANT SELECTOR */
/* Select all <element> that are nested inside another <element> */
footer a {
  color: #e63946;
}

.post a {
  color: #457b9d;
}

/* ADJACENT SELECTORS */
/* Select only the paragraphs that are immediately preceded by a certain <element> */
input + button {
  background-color: #e63946;
}

h2 + button {
  font-size: 20px;
}

/* DIRECT CHILD SELECTORS */
/* Select only the <elements>'s (a) that are direct children of a <element> (footer) */
footer > a {
  color: #457b9d;
}

form > label {
  color: #1d3557;
  font-weight: bold;
}

/* ATTRIBUTE SELECTOR */
/* Select all input elements where the type attribute is "password" */
input[type="text"] {
  color: #e63946;
}

a[href*="google"] {
  font-size: 30px;
}

/* PSEUDO CLASSES */
/* keyword added to a selector that specifies a special state of the selected elements */

/* :hover examples */
a:hover {
  color: #e63946;
}

footer nav a:hover {
  color: #457b9d;
}
